@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
      margin: 0;
      padding: 0;
      font-family: 'Orbitron', sans-serif;
      transition: 0.25s linear;
}

:root {
      --background: linear-gradient(135deg, #2F80ED, #56CCF2);
      --webkit-background: -webkit-linear-gradient(135deg, #2F80ED, #56CCF2);
      --background-norm: #56CCF2;
}

html {
      overflow: hidden;
      overflow: -moz-hidden-unscrollable;
}

body {
      background: var(--background-norm);
      background: var(--webkit-background);
      background: var(--background);

      /* background: #DCE35B;
      background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
      background: linear-gradient(to right, #45B649, #DCE35B); */

      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
}

canvas {
      position: absolute;
      z-index: -1;
      bottom: 0;
}


div {
      width: 100vw;
      height: 10%;
      display: flex;
      justify-content: space-around;
      position: absolute;
      top: 0;
}

input {
      background: transparent;
      border: 2px solid #fff0;
      outline: none;
      font-size: 25px;
      color: #e54d4d;
      text-align: center;
      padding: 0px;
}

input:focus {
      border-bottom: 2px solid #fff;
}

input.active {
      color: #94e54d;
}